* {
    box-sizing: border-box;
}
html, body { 
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
}
.hero > .container > h1 {
    font-size: 100px;
}
h1 {
    font-size: 300px;
}
:root {
    --pryc: #0071f9
}
.container {
    padding: 30px;
}
.navbar-brand img {
    width: 250px;
    object-fit: cover;
  }
  
  .navbar-toggler {
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    padding: 10px 25px;
    border-radius: 40px;
    box-shadow: 2px 2px #333;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-toggler:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  .news-ticker {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: ticker 5s linear infinite;
  }

  @keyframes ticker {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  } 
.footer-logo {
    width: 300px;
}
footer {
    text-decoration: none;
}