* {
    box-sizing: border-box;
}
html, body { 
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
}
.hero > .container > h1 {
    font-size: 100px;
}
.hero {

}
h1 {
    font-size: 300px;
}
section {
    min-height: 100vh;
    width: 100vw;
}
span {
    font-weight: "bold";
}
.navbar .btn {
    margin-left: 50px;
}  
:root {
    --pryc: #0071f9
}
.card {
    display: inline-block;
    width: 
}
form {
    width: 90%;
    margin: 50px auto;
    padding: 50px;
  }
.form-group {
    margin: 20px;
}
.form-container {
    background-color: var(--pryc);
    width: 100%;
}
.container {
    margin: 0 50px;
}
.navbar-brand img {
    width: 250px;
    object-fit: cover;
  }
  
  .navbar-toggler {
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    padding: 10px 25px;
    border-radius: 40px;
    box-shadow: 2px 2px #333;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-toggler:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  .hero-text {
    color: white;
    position: relative;
    margin-top: -400px;
  }
  .ticker-wrap {
    height: 100vh;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
  }
  .ticker {
    position: block;
    white-space: nowrap;
    animation: ticker 30s ease infinite;
    color: var(--pryc);
    font-size: 900px;
  } 
  .bg-black {
    background-color: 
  }
  @keyframes ticker {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  } 
.footer-logo {
    width: 300px;
}
footer {
    min-height: 50vh;
}
.footer-link {
    text-decoration: none;
    font-size: 20px;
    color: rgb(149, 149, 149);
    margin: 3px 0;
}
.copyright-div {
    margin: 10px 0;
    color: black;
}